#form {
    width: 500px;
    margin: 0 auto;
    background-color: #89e7d6;
    padding: 20px 50px 40px;
    font-family: "Segoe UI", sans-serif;
    border-radius: 6px;
}

div.container{
    background-color: #ece4ea;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

div.box{
    border: #68e8d2 1px solid;
    background: #68e8d2;
    border-radius: 6px;
}

#form fieldset {
    border-radius: 6px;
}

#form label {
    color:black
}

#form * {
    box-sizing: border-box;
}

#form input {
    margin-bottom: 15px;
}

#form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border-radius: 8px;
    border:none;
    background-color: #f3f3f3;
}

#form input[type=number] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f3f3f3;
}

#form input[type=checkbox] {
    vertical-align:top;
}

#form input[type=radio] {
    vertical-align:top;
}

#form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
}

#form button[type=reset] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-weight: 700;
}
